
<div class="offset2 span10">
<div class="row">
	<div class="col-lg-6">
	<div class="input-medium search-query">
    	<input type="text" class=" form-control" placeholder="Search" id="artist">
	</div>
	</div>
	<button class="btn btn-primary  " value="Search" onclick="getartists()" > Search </button>
</div>

</div>

<div class="offset2 span10">
	<div class="row">
		<div class="col-lg-2">
		<div class="panel panel-default" style="margin-top: 100px" >
  		<div class="panel-heading">Artists</div>
  		<div class="panel-body" style="scroll; both; overflow:auto; height: 20em;" id = 'artist-list'>
    	<p>...</p>
  		</div>
  	</div>
	</div>


<div class="col-lg-6">
<div class="panel panel-default" style="margin-top: 100px">
  
  <div class="panel-heading">Songs</div>

  <div class="panel-body" style="scroll; both; overflow:auto; height: 20em;" id = 'song-list'>
  	
    <p>...</p>
	
  </div>
  
</div>
</div>
</div>
</div>


<div class="offset2 span10">
<div >
	<div style="left:50% margin-left:-250px">
		<div id="player"></div> 
	</div>
</div>
</div>


 <script src="https://www.youtube.com/iframe_api" type='text/javascript'></script>   
