<div class="container-fluid" onload="initilize()">
			<div class='row'>
				<div class='col-lg-12'>
					<h1>Search for the events of the artist of your preference</h1>
				</div>
			</div>
			<div class='row'>
				<div class='col-lg-6'>
					<form role='form'>
						<div class='form-group'>
							<label for='messageVenue'>Search for an artist</label>
							<input type='text' class='form-control' id='artist' placeholder='Type some artist'>
							<input type='button' value='submit' onclick = 'fetchArtist()' />
							<script type="text/javascript">
								initialize(0,0);
							</script>
						</div>
					</form>
					<div id="artist_suggestion" class='well' style='scroll: both; overflow: auto; height: 15em;'>Suggestions will appear here...</div>
			    </div>
				<div class='col-lg-6'>
					<div id="map-canvas"></div>	
					</div>
			</div>
			
		</div>