html, body {
  height: 100%;
}

.extra {
  padding-top: 20px;
  padding-bottom: 40px;
}

.centered {
  text-align: center;
  padding-bottom: 40px;
}

.fascinate-font {
  font-family: 'Fascinate', cursive;
  text-align: center;
  padding-bottom: 20px;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100;
  margin: 0 auto -90px;
}

#push, #footer {
  height: 90px;
}

#footer {
  background: none;
}

#map-canvas { 
  width: 350px;
  height: 350px; 
  position:absolute;
  left:0;
  right:0;
  top: 100px;
  margin-left:auto;
  margin-right:auto;
}